<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Cart</title>
    <!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!-- 렌더링 영역 -->
    <!-- <___></___>: 컴포넌트 명시 -->
    <div id="app">
        <cart-header></cart-header>
        <div v-show="showAll">
            <h2>전체 목록</h2>
            <ul>
                <li v-for="item in items">{{ item.name }}</li>
            </ul>
        </div>
        <!-- data "items"를 propsdata "shopping-items"로 전달 -->
        <shop-list v-bind:shopping-items="items"></shop-list>
        <!-- 이벤트가 발생했을 때 addItem 함수를 실행 시켜라 -->
        <cart-input v-on:add-item="addItem"></cart-input>
        <input type="checkbox" v-model="showOption">산 물건 보기
        <bought-list 
            v-bind:bought-items="items"
            v-show="showOption"
            v-on:remove-item="removeItem"></bought-list>
        <cart-footer></cart-footer>
    </div>
    <script>
        // 전역 컴포넌트: 모든 인스터스에서 사용 가능
        Vue.component("cart-header", {
            // template: '<h1>{{ title.toUpperCase() }}</h1>',
            template: '<h1>{{ upperTitle }}</h1>',
            data: function() {
                return {
                    title: 'Vue Cart'
                }
            },
            computed: {
                // 미리 계산 수행, 결과를 캐싱
                upperTitle: function() {
                    return this.title.toUpperCase();
                }
            }
        })

        Vue.component("cart-footer", {
            template: '<p>&copy; Bit Academy</p>'
        })

        // 살 물건 목록
        var shopList = {
            // props 받아오기
            props: ['shopping-items'],
            template:
                `<div>
                    <h2>살 물건들</h2>
                    <ul>
                        <!-- li v-for="(item, index) in shoppingItems"
                        v-if="!item.buy" -->
                        
                        <li v-for="(item, index) in filteredItems">
                            {{item.name}}
                        <button @click="buyItem(item, index)">구매</button>
                        </li>
                    </ul>    
                </div>`,
                // -> button을 click했을 때 buyItem 함수 호출, 인자값과 인덱스가 넘어감
                methods: {
                    buyItem: function(item, index) {
                        console.log("구매할 아이템:", item);
                        item.buy = true;
                    } //-> 무, 배추 구매 button click하면 true로 바뀜
                },
                computed: {
                    filteredItems: function() {
                        // 전달 받을 shoppingItems로 부터
                        // item.buy == false인 것만 필터링
                        return this.shoppingItems.filter(item => {
                            return !item.buy; // item.buy === false
                        })
                    }
                }
        }

        // 산 물건 목록
        var boughtList = {
            props: ["bought-items"],
            template: `
                <div>
                    <h2>산 물건들</h2>
                    <ul>
                        <!-- li v-for="(item, index) in boughtItems"
                        v-if="item.buy" -->
                            
                        <li v-for="(item,index) in filteredItems">
                            {{ item.name }}
                            <button v-on:click="removeItem(item)">삭제</button>
                            <button v-on:click="cancelBuy(item)">구매 취소</button>
                        </li>
                    </ul>
                </div>`,
                // -> 삭제 button을 누르면 removeItem에 item 전달 및 함수 호출
                // -> 구매 취소 button을 누르면 cancleBuy에 item 전달 및 함수 호출, false로 변경됨
                methods: {
                    cancelBuy: function(item) {
                        item.buy = false;
                    },
                    removeItem: function(item) {
                        // 부모로 삭제할 아이템을 전송
                        console.log("삭제할 아이템:", item);
                        this.$emit("remove-item", item);
                    }
            },
            computed: {
                filteredItems: function() {
                    // 미리 연산을 수행, 결과 캐싱
                    return this.boughtItems.filter(item => {
                        return item.buy;
                    })
                }
            }
        }

        // cart input 컴포넌트
        var cartInput = {
            template: `
                <div>
                    <p>{{ message }}</p>
                    <input v-model="newItem">
                    <button v-on:click="addItem">추가</button>
                </div>`,
                // -> click하면 addItem 함수 호출, console 출력
                data: function() {
                return {
                    newItem: "", // 감시
                    message: "상품을 입력하세요."
                }
            },
            watch: {
                newItem: function(item) {
                    console.log("watch:", item);
                    if (this.newItem.trim().length > 0) {
                        this.message = "상품을 등록하실 수 있습니다."
                    } else {
                        this.message = "상품을 입력하세요."
                    }
                }
            },
            methods: {
                addItem: function() {
                    console.log("추가할 아이템:", this.newItem);
                    // newItem을 부모로 전송하기 위해 event발생 시키자
                    if (this.newItem.trim().length > 0) {
                        // 구매 아이템을 부모로 전송
                        this.$emit("add-item", this.newItem.trim());
                        this.newItem = "";
                    }
                }
            }
        }
        // -> 입력상자 Input 데이터 연동. newItem은 비어있는 문자열
        // 입력 값이 변경되면 newItem도 변경 시키기 위해서 V-model 연결

        // Vue 인스턴스
        var app = new Vue({
            el: "#app",
            data: {
                items: [
                    { name: "무", buy: false },
                    { name: "배추", buy: false },
                    { name: "쪽파", buy: true },
                    { name: "고춧가루", buy: true }
                ],
                showAll: false,
                showOption: true
            },
            components: {
                // shopList 컴포넌트를 지역(local) 컴포넌트로 등록
                "shop-list": shopList,
                // cartInput 컴포넌트도 새로 만들었으니 지역(local) 컴포넌트로 등록
                "cart-input": cartInput,
                // 마찬가지로 bought-list 컴포넌트를 지역(local) 컴포넌트로 등록
                "bought-list":boughtList
            },
            methods: {
                addItem: function(item) {
                    console.log("추가할 아이템:", item);
                    // items 배열에 아이템 추가
                    this.items.push({
                        name: item,
                        buy: false
                    })
                },
                removeItem: function(item) {
                    // 삭제할 아이템의 인덱스 확인
                    var index = this.items.indexOf(item);
                    if (index > -1) { // 인덱스 찾으면
                        // 배열에서 요소를 삭제
                        this.items.splice(index, 1);
                    }
                }
            }
        });
        // -> Vue 인스턴스가 el 속성에 의해서 렌더링 영역으로 mount

    </script>
</body>
</html>